THIRDWEB_SECRET_KEY=
NEXT_PUBLIC_THIRDWEB_CLIENT_ID=
NEXT_PUBLIC_APP_URL=http://localhost:3000
THIRDWEB_REWARDS_NFT_ADMIN_PRIVATE_KEY=
THIRDWEB_REWARDS_NFT_CONTRACT_ADDRESS=
THIRDWEB_REWARDS_NFT_CONTRACT_TYPE=TokenERC721
THIRDWEB_REWARDS_NFT_NAME=Pocket Rewards NFT
THIRDWEB_REWARDS_NFT_SYMBOL=PRWD
PROJECT_WALLET=
THIRDWEB_WEBHOOK_BASE_URL=
THIRDWEB_WEBHOOK_URL=
THIRDWEB_WEBHOOK_SECRETS=
MONGODB_URI=
MONGODB_DB_NAME=
MONGODB_MEMBERS_COLLECTION=members
MONGODB_REFERRAL_REWARDS_COLLECTION=referralRewards
MONGODB_THIRDWEB_WEBHOOK_EVENTS_COLLECTION=thirdwebWebhookEvents
MONGODB_THIRDWEB_WEBHOOK_INGRESS_COLLECTION=thirdwebWebhookIngressLogs
RECONCILE_API_TOKEN=
RECONCILE_BASE_URL=
RECONCILE_LIMIT=25
RECONCILE_PENDING_LIMIT=
RECONCILE_INTERVAL_MS=30000
RECONCILE_EMAIL=
RECONCILE_PENDING_EMAIL=
RECONCILE_COMPLETED_LIMIT=1
RECONCILE_COMPLETED_EMAIL=
